{% extends "base.html" %}
{% block content %}
    <h1>Hello!</h1>
    <h2>What is a haiku?</h2>
    <p>Haiku is a simple web app that allows you to create and share haikus.</p>
    <p>Haiku is a Japanese poem, traditionally evoking images of the natural world.</p>
    ------------------------------------------------------------------------------------
    <br>
    ------------------------------------------------------------------------------------
    <p>login if you already have an account <a href="/login">here</a></p>
    <p>register if you dont have an account <a href="/register">here</a></p>
    ------------------------------------------------------------------------------------
    <br>
    ------------------------------------------------------------------------------------

{% endblock content %}