{% extends "base.html" %}
{% block content %}
<h1>Welcome Back</h1>
<p>dont have an account? create one <a href="/register">here</a></p>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="username">Username : </label>
        <input type="text" class="username" id="username" name="username">
    </p>

    <p>
        <label for="password">Password : </label>
        <input type="password" class="password" id="password" name="password">
    </p>
    <button type="submit" value="Login" class="nes-btn is-primary"> Login !</button>
</form>


{% endblock content %}
